# Data Preprocessing Part 2

Date created: June 17, 2021

Author: A.J. Katipunan

Description:

This notebook was created as part of the requirements of the Python for Data Engineering Course provided by Coursebank through the Project SPARTA Program.

This week's homework is a continuation of the data preprocessing coursework.

In [1]:
import os
from google.colab import drive

# mount google drive into google collaboratory
drive.mount('/content/gdrive')

# assign the address of the dataset directory
data_dir = '/content/gdrive/MyDrive/GitHub/Python for Data Engineering'

# change the working directory
os.chdir(data_dir)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
username = 'riokatipunan'
repository = 'Python_for_data_engineering_SPARTA'
git_token = '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'

In [5]:
!git clone https://{git_token}@github.com/{username}/{repository}

Cloning into 'Python_for_data_engineering_SPARTA'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [18]:
%cd {repository}

/content/gdrive/My Drive/GitHub/Python for Data Engineering/Python_for_data_engineering_SPARTA/Python_for_data_engineering_SPARTA

In [9]:
os.getcwd()

'/content/gdrive/My Drive/GitHub/Python for Data Engineering'

In [11]:
!git config --global user.email "riokatipunan@gmail.com"
!git config --global user.name "riokatipunan"

In [4]:
!git status

fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

In [13]:
!git add .

In [14]:
!git commit -m "updated the notebook"

[main f16a4b4] updated the notebook
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite SP702W4_Katipunan.ipynb (95%)

In [15]:
!git push

fatal: could not read Password for 'https://l9NuTGIowznqeA4M3SCxd8d8gUiBBHB55JTDlxfodG8@github.com': No such device or address

---

In [ ]:
# importing necessary modules
import pandas as pd
import numpy as np

## Part 1

1. Standardize the price column
2. Identify and remove outliers in the dataset

In [ ]:
# importing the 'sales.csv'
sales = pd.read_csv('https://coursebank.ph/assets/courseware/v1/d5196085dd4bb26377be4bd84ccfe39d/asset-v1:DAP+SP702+2020_Q2+type@asset+block/sales.csv')

In [ ]:
# describing the sales dataframe
sales.describe()

         Latitude   Longitude
count  997.000000  999.000000
mean    38.984398  -41.417494
std     19.499041   67.377526
min    -41.465000 -159.485280
25%     35.782500  -88.207775
50%     42.309720  -73.733890
75%     51.050000    4.850000
max     64.837780  174.766667

In [ ]:
# print the firts 5 rows of the sales dataframe
sales.head()

  Transaction_date   Product Price  ...      Last_Login   Latitude   Longitude
0    1/2/2009 6:17  Product1  1200  ...   1/2/2009 6:08  51.500000   -1.116667
1    1/2/2009 4:53  Product1  1200  ...   1/2/2009 7:49  39.195000  -94.681940
2   1/2/2009 13:08  Product1  1200  ...  1/3/2009 12:32  46.188060 -123.830000
3   1/3/2009 14:44  Product1  1200  ...  1/3/2009 14:22 -36.133333  144.750000
4   1/4/2009 12:56  Product2  3600  ...  1/4/2009 12:45  33.520560  -86.802500

[5 rows x 12 columns]

In [ ]:
# show the data type of each column in the sales dataframe
sales.dtypes

Transaction_date     object
Product              object
Price                object
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object

In [ ]:
# drop or remove all duplicates in the sales dataframe
sales.drop_duplicates(inplace = True)

In [ ]:
# there are values in the 'Price' column that are not of the type int, but are rather strings
# we use this code to remove commas in the 'Price' column and convert the values in this column into float
sales['Price'] = sales['Price'].str.replace(',','').astype('float')

In [ ]:
# the following block of code removes the outliers in the 'Price' column in the dataframe

# the following computes for the mean and stardard deviation
mean = np.mean(sales['Price'])
std = np.std(sales['Price'])            

# then we compute for the lower and upper limits for our dataset
lower_limit = max(0, mean - (3*std))
upper_limit = mean + (3*std)

# then we apply the bounding limits to the sales dataframe
# any points outside these bounds will be an outlier
sales = sales[(sales['Price'] >= lower_limit)       
              &(sales['Price'] <= upper_limit)]

In [ ]:
# display the first 5 rows of the cleaned dataframe without any outliersm
sales.head()

  Transaction_date   Product   Price  ...      Last_Login   Latitude   Longitude
0    1/2/2009 6:17  Product1  1200.0  ...   1/2/2009 6:08  51.500000   -1.116667
1    1/2/2009 4:53  Product1  1200.0  ...   1/2/2009 7:49  39.195000  -94.681940
2   1/2/2009 13:08  Product1  1200.0  ...  1/3/2009 12:32  46.188060 -123.830000
3   1/3/2009 14:44  Product1  1200.0  ...  1/3/2009 14:22 -36.133333  144.750000
4   1/4/2009 12:56  Product2  3600.0  ...  1/4/2009 12:45  33.520560  -86.802500

[5 rows x 12 columns]

## Part 2

1. Handle all the missing values. Provide an explanation for choosing a specific method(delete, impute, or keep: if impute, why mean, median, or mode?) in handling specific missing values

This notebook will explore all methods of handling missing data as discussed in the course (delete, impute, or keep). This for the sake of presenting all possible solutions to the student.

Although not required, this notebook furthermore shall also discuss another method of imputation not discussed in the course (i.e. imputation by K-nearest neighbors) that I think will greatly benefit the student who will be able to read this notebook. Further discussions on this are presented below

In [ ]:
# importing 'Handling Missing Values.csv'
HMV = pd.read_csv('https://coursebank.ph/assets/courseware/v1/39bd7fa2d5e00e98876d7491cbe61104/asset-v1:DAP+SP702+2020_Q2+type@asset+block/Handling_Missing_Values.csv')

In [ ]:
# show the first 5 rows of the dataframe
HMV.head()

   ID   Sex  Age   Income Employed  Children Buy_Car
0   1  Male   25  25146.0   Single       0.0      No
1   2  Male   30  26939.0  Married       2.0     Yes
2   3  Male   27  26693.0  Married       0.0      No
3   4  Male   28  26666.0  Married       3.0     Yes
4   5  Male   29  25899.0  Married       0.0      No

In [ ]:
# show how many records does the dataframe have for each of its columns.
# from here we would see that 'Sex', 'Income', and 'Children' have missing values
HMV.count()

ID          20
Sex         16
Age         20
Income      17
Employed    20
Children    18
Buy_Car     20
dtype: int64

In [ ]:
# describe the missing values dataframe
HMV.describe()

             ID        Age        Income   Children
count  20.00000  20.000000     17.000000  18.000000
mean   10.50000  28.150000  26245.705882   1.222222
std     5.91608   1.308877    583.052395   1.437136
min     1.00000  25.000000  25094.000000   0.000000
25%     5.75000  28.000000  26037.000000   0.000000
50%    10.50000  28.000000  26234.000000   1.000000
75%    15.25000  29.000000  26666.000000   2.000000
max    20.00000  30.000000  26969.000000   4.000000

### Part 2.1. Listwise deletion

The first method that we will explore would be deleting all rows with incomplete data. This is also called "listwise deletion". Performing an analysis with the remaining dataset after listwise deletion is called complete case [1].

In [ ]:
# we first check if there are columns in our data set that are NaN (not a number), None, or NaT (not a time)
nan_cols = [i for i in HMV.columns if HMV[i].isnull().any()]

In [ ]:
#  show the list with columns that have rows that might have NaN, None, or Nat
nan_cols

['Sex', 'Income', 'Children']

In [ ]:
# compute how many rows in the dataframe having missing values
HMV.isnull().sum()

ID          0
Sex         4
Age         0
Income      3
Employed    0
Children    2
Buy_Car     0
dtype: int64

In [ ]:
# identify which rows have NaN as a field value
HMV[HMV.isnull().any(axis = 1)]

    ID     Sex  Age   Income Employed  Children Buy_Car
6    7  Female   28      NaN  Married       3.0     Yes
7    8     NaN   30  26037.0  Married       2.0     Yes
9   10     NaN   28      NaN   Single       NaN      No
11  12    Male   30  26195.0   Single       NaN     Yes
14  15     NaN   28  26234.0  Married       0.0      No
17  18     NaN   28      NaN   Single       0.0     Yes

In [ ]:
# drops all rows with missing values (i.e. rows with NaN, None, or NaT ) 
HMV_to_complete_case = HMV.dropna()

In [ ]:
# show the first 5 rows of the complete case of the HMV dataframe 
HMV_to_complete_case.head()

   ID   Sex  Age   Income Employed  Children Buy_Car
0   1  Male   25  25146.0   Single       0.0      No
1   2  Male   30  26939.0  Married       2.0     Yes
2   3  Male   27  26693.0  Married       0.0      No
3   4  Male   28  26666.0  Married       3.0     Yes
4   5  Male   29  25899.0  Married       0.0      No

In [ ]:
# show complete case dataset of the HMV dataframe
HMV_to_complete_case.count()

ID          14
Sex         14
Age         14
Income      14
Employed    14
Children    14
Buy_Car     14
dtype: int64

### Part 2.2. Impuation

In statistics, imputation is the process of replacing missing data with substituted values. When substituting for a data point, it is known as "unit imputation"; when substituting for a component of a data point, it is known as "item imputation". 

There are three main problems that missing data causes: missing data can introduce a substantial amount of bias, make the handling and analysis of the data more arduous, and create reductions in efficiency.

Because missing data can create problems for analyzing data, imputation is seen as a way to avoid pitfalls involved with listwise deletion of cases that have missing values. That is to say, when one or more values are missing for a case, most statistical packages default to discarding any case that has a missing value, which may introduce bias or affect the representativeness of the results. 

Imputation preserves all cases by replacing missing data with an estimated value based on other available information. Once all missing values have been imputed, the data set can then be analysed using standard techniques for complete data.

There have been many theories embraced by scientists to account for missing data but the majority of them introduce bias. A few of the well known attempts to deal with missing data include: hot deck and cold deck imputation; listwise and pairwise deletion; mean imputation; non-negative matrix factorization; regression imputation; last observation carried forward; stochastic imputation; and multiple imputation. The student is advised to review these methods on their own [2].

This notebook explores the following imputation methods

1. Imputation by mean substitution;
2. Imputation by median subsitution;
3. Imputation by mode substitution; and
4. Imputation using K-nearest neighbors

#### Part 2.2.1 Imputation by mean substition

This imputation technique involves replacing any missing value with the mean of that variable for all other cases, which has the benefit of not changing the sample mean for that variable. 

We perform imputation by mean substitution if the variable that we intend to impute with has a normal distribution. 

However, mean imputation attenuates any correlations involving the variable(s) that are imputed. This is because, in cases with imputation, there is guaranteed to be no relationship between the imputed variable and any other measured variables. 

Thus, mean imputation has some attractive properties for univariate analysis but becomes problematic for multivariate analysis.

Important notes [3]:

· If the skewness is between -0.5 is 0.5, the data are fairly symmetrical

· If the skewness is between -1 and -is 0.5 or between 0.5 and 1, the data are moderately skewed

· If the skewness is less than -1 or greater than 1, the data is highly skewed

In [ ]:
# compute for the skewness of the 'Income' variable
# its skewness value would suggest that the 'Income' variable is moderately skewed
HMV['Income'].skew()

-0.7938975768493515

In [ ]:
# compute for the skewness of the 'Children' variable
# its skewness value would suggest that 'Children' variable is moderately skewed
HMV['Children'].skew()

0.9006133897460047

In [ ]:
# based on the dicussions in the course, since the data for 'Income' is moderately skewed, 
# we would usually impute using median substitution, however, for the sake of discussion, let's first impute using mean substitution
mean_income = HMV['Income'].mean()
HMV['Income'].fillna(mean_income)

0     25146.000000
1     26939.000000
2     26693.000000
3     26666.000000
4     25899.000000
5     26462.000000
6     26245.705882
7     26037.000000
8     26167.000000
9     26245.705882
10    26905.000000
11    26195.000000
12    26514.000000
13    26969.000000
14    26234.000000
15    26229.000000
16    25094.000000
17    26245.705882
18    26601.000000
19    25427.000000
Name: Income, dtype: float64

In [ ]:
# based on the dicussions in the course, since the data for 'Children' is moderately skewed, 
# we would usually impute using median substitution, however, for the sake of discussion, let's first impute using mean substitution
mean_children = HMV['Children'].mean()
HMV_mean_children = HMV['Children'].fillna(mean_children)
HMV_mean_children.apply(np.ceil)

0     0.0
1     2.0
2     0.0
3     3.0
4     0.0
5     1.0
6     3.0
7     2.0
8     1.0
9     2.0
10    0.0
11    2.0
12    4.0
13    4.0
14    0.0
15    0.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: Children, dtype: float64

#### Part 2.2.2 Imputation by median substition

This imputation technique involves replacing any missing value with the median of that variable for all other cases. 

We perform imputation by median substitution if the variable that we intend to impute with does not have a normal distribution.

In [ ]:
# as shown in the previous cells, the data for 'Income' is moderately skewed, 
# therefore imputation by median substitution would be the better method of imputation.
median_income = HMV['Income'].median()
HMV['Income'].fillna(median_income)

0     25146.0
1     26939.0
2     26693.0
3     26666.0
4     25899.0
5     26462.0
6     26234.0
7     26037.0
8     26167.0
9     26234.0
10    26905.0
11    26195.0
12    26514.0
13    26969.0
14    26234.0
15    26229.0
16    25094.0
17    26234.0
18    26601.0
19    25427.0
Name: Income, dtype: float64

In [ ]:
# as shown in the previous cells, the data for 'Children' is moderately skewed, 
# therefore imputation by median substitution would be the better method of imputation.
children_income = HMV['Children'].median()
HMV['Children'].fillna(children_income)

0     0.0
1     2.0
2     0.0
3     3.0
4     0.0
5     1.0
6     3.0
7     2.0
8     1.0
9     1.0
10    0.0
11    1.0
12    4.0
13    4.0
14    0.0
15    0.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: Children, dtype: float64

#### Part 2.2.3 Imputation by mode substition

This imputation technique involves replacing any missing value with the mode of that variable for all other cases.

We perform imputation by mode substitution if the variable that we intend to impute is composed of categorical data.

In [ ]:
# imputing the 'Sex' variable using mode substitution
mode_sex = HMV['Sex'].mode()
HMV['Sex'].fillna(mode_sex[0])

0       Male
1       Male
2       Male
3       Male
4       Male
5       Male
6     Female
7       Male
8     Female
9       Male
10    Female
11      Male
12    Female
13    Female
14      Male
15      Male
16    Female
17      Male
18      Male
19      Male
Name: Sex, dtype: object

In [ ]:
# imputing the 'Sex' variable using mode substitution
mode_children = HMV['Children'].mode()
HMV['Children'].fillna(mode_children[0])

0     0.0
1     2.0
2     0.0
3     3.0
4     0.0
5     1.0
6     3.0
7     2.0
8     1.0
9     0.0
10    0.0
11    0.0
12    4.0
13    4.0
14    0.0
15    0.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: Children, dtype: float64

#### Part 2.2.3 K-nearest neighbors imputation

The k nearest neighbors algorithm can be used for imputing missing data by finding the k closest neighbors to the observation with missing data and then imputing them based on the the non-missing values in the neighbors. There are several possible approaches to this. You can use 1NN schema, where you find the most similar neighbor and then use its value as a missing data replacement. Alternatively you can use kNN, with k neighbors and take mean of the neighbors, or weighted mean, where the distances to neighbors are used as weights, so the closer neighbor is, the more weight it has when taking the mean. Using weighted mean seems to be used most commonly.

The KNNImputer class of scikit-learn package provides imputation for filling in missing values using the k-Nearest Neighbors approach. By default, a euclidean distance metric that supports missing values. Each missing feature is imputed using values from n_neighbors nearest neighbors that have a value for the feature. The feature of the neighbors are averaged uniformly or weighted by distance to each neighbor. If a sample has more than one feature missing, then the neighbors for that sample can be different depending on the particular feature being imputed. When the number of available neighbors is less than n_neighbors and there are no defined distances to the training set, the training set average for that feature is used during imputation. If there is at least one neighbor with a defined distance, the weighted or unweighted average of the remaining neighbors will be used during imputation. If a feature is always missing in training, it is removed during transform.

You can refer to this [paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4959387/) and [article](https://towardsdatascience.com/the-use-of-knn-for-missing-values-cf33d935c637) in Medium for more information

In [ ]:
# before we can perform imputation by k-nearest neighbors, we first need to map all categorical variables into a corresponding numerical value
# so that our machine could perform matrix operations to the dataframe

# This code maps the 'Sex' variable; 'Male' would be 1, 'Female' would be 2
HMV['Sex'] = HMV['Sex'].map({'Male':1, 
                             'Female':2})

# This code maps the 'Employed' variable; 'Single' would be 1, 'Married' would be 2
HMV['Employed'] = HMV['Employed'].map({'Single':1,
                                       'Married': 2})

# This code maps the 'Buy_Car' variable; 'Yes' would be 1, 'No' would be 2
HMV['Buy_Car'] = HMV['Buy_Car'].map({'Yes':1,
                                     'No': 2})

In [ ]:
# show the mapped dataframe
HMV

    ID  Sex  Age   Income  Employed  Children  Buy_Car
0    1  1.0   25  25146.0         1       0.0        2
1    2  1.0   30  26939.0         2       2.0        1
2    3  1.0   27  26693.0         2       0.0        2
3    4  1.0   28  26666.0         2       3.0        1
4    5  1.0   29  25899.0         2       0.0        2
5    6  1.0   28  26462.0         2       1.0        2
6    7  2.0   28      NaN         2       3.0        1
7    8  NaN   30  26037.0         2       2.0        1
8    9  2.0   28  26167.0         2       1.0        1
9   10  NaN   28      NaN         1       NaN        2
10  11  2.0   28  26905.0         1       0.0        2
11  12  1.0   30  26195.0         1       NaN        1
12  13  2.0   30  26514.0         2       4.0        1
13  14  2.0   28  26969.0         2       4.0        1
14  15  NaN   28  26234.0         2       0.0        2
15  16  1.0   27  26229.0         2       0.0        2
16  17  2.0   26  25094.0         2       0.0        2
17  18  NaN   28      NaN         1       0.0        1
18  19  1.0   28  26601.0         2       1.0        2
19  20  1.0   29  25427.0         2       1.0        2

In [ ]:
# with the HMV dataframe now composed of numerical values, we can now peform imputation by k-nearest neighbors

# we import the KNNImputer class from sklearn
from sklearn.impute import KNNImputer

# we initialize the KNNImputer class; we use the 5 nearest neighbors for the imputation with equal weights
imputer = KNNImputer(n_neighbors = 5, weights = 'uniform')

# we perform the KNN imputation 
HMV_KNNImputation = imputer.fit_transform(HMV, y = None)

# HMV_KNNImputation is actually a numpy array; we therefore need to convert it into a pandas dataframe and apply the corresponding column names
HMV_KNNImputation = pd.DataFrame(HMV_KNNImputation, columns = ['ID', 'Sex', 'Age', 'Income', 'Employed', 'Children', 'Buy_Car'])

In [ ]:
# this cell shows the impuated dataframe; As you would see the field values of some of the variables are still in their mapped numerical values; 
# we need to revert them back to their original assignments
HMV_KNNImputation

      ID  Sex   Age   Income  Employed  Children  Buy_Car
0    1.0  1.0  25.0  25146.0       1.0       0.0      2.0
1    2.0  1.0  30.0  26939.0       2.0       2.0      1.0
2    3.0  1.0  27.0  26693.0       2.0       0.0      2.0
3    4.0  1.0  28.0  26666.0       2.0       3.0      1.0
4    5.0  1.0  29.0  25899.0       2.0       0.0      2.0
5    6.0  1.0  28.0  26462.0       2.0       1.0      2.0
6    7.0  2.0  28.0  26246.2       2.0       3.0      1.0
7    8.0  1.4  30.0  26037.0       2.0       2.0      1.0
8    9.0  2.0  28.0  26167.0       2.0       1.0      1.0
9   10.0  1.8  28.0  26363.6       1.0       2.0      2.0
10  11.0  2.0  28.0  26905.0       1.0       0.0      2.0
11  12.0  1.0  30.0  26195.0       1.0       0.8      1.0
12  13.0  2.0  30.0  26514.0       2.0       4.0      1.0
13  14.0  2.0  28.0  26969.0       2.0       4.0      1.0
14  15.0  1.4  28.0  26234.0       2.0       0.0      2.0
15  16.0  1.0  27.0  26229.0       2.0       0.0      2.0
16  17.0  2.0  26.0  25094.0       2.0       0.0      2.0
17  18.0  1.4  28.0  25917.0       1.0       0.0      1.0
18  19.0  1.0  28.0  26601.0       2.0       1.0      2.0
19  20.0  1.0  29.0  25427.0       2.0       1.0      2.0

In [ ]:
# reviewing the imputed dataframe, it would seem that some imputed values in the 'Sex' variable has values between 1 and 2 
# (e.g. check row with ID no. 8, 10, and 18); We can correct this by setting an conditional that if the variable is less than or equal to 1.5, 
# then the value would be reassigned to 1; else, we assign it with a value of 2 (ideally, if the value is equal to 1.5, 
# we should randomly select among 1 and 2 to be the value for the 'Sex' variable)
HMV_KNNImputation['Sex'] = HMV_KNNImputation['Sex'].apply(lambda x: 1 if x >=1.5 else 2)

# This code maps the 'Sex' variable; 1 would be 'Male', 2 would be 'Female'
HMV_KNNImputation['Sex'] = HMV_KNNImputation['Sex'].map({ 1 : 'Male', 
                                                          2 : 'Female'})

# This code maps the 'Employed' variable; 1 would be 'Single', 2 would be 'Married'
HMV_KNNImputation['Employed'] = HMV_KNNImputation['Employed'].map({ 1 : 'Single',
                                                                    2 : 'Married'})

# reviewing the imputed dataframe, it would also seem that some imputed values in the 'Children' variable does not have discret or whole number values 
# (e.g. check row with ID no. 12); 
# We can correct this by setting getting it's ceiling value, i.e. we round up. (e.g. if the value is 0.8, we round up to get 1)
HMV_KNNImputation['Children'] = HMV_KNNImputation['Children'].apply(lambda x: np.ceil(x))

# This code maps the 'Buy_Car' variable; 1 would be 'Yes', 2 would be 'No'
HMV_KNNImputation['Buy_Car'] = HMV_KNNImputation['Buy_Car'].map({ 1 : 'Yes',
                                                                  2 : 'No'})

In [ ]:
# show the imputed and re-mapped dataframe
HMV_KNNImputation

      ID     Sex   Age   Income Employed  Children Buy_Car
0    1.0  Female  25.0  25146.0   Single       0.0      No
1    2.0  Female  30.0  26939.0  Married       2.0     Yes
2    3.0  Female  27.0  26693.0  Married       0.0      No
3    4.0  Female  28.0  26666.0  Married       3.0     Yes
4    5.0  Female  29.0  25899.0  Married       0.0      No
5    6.0  Female  28.0  26462.0  Married       1.0      No
6    7.0    Male  28.0  26246.2  Married       3.0     Yes
7    8.0  Female  30.0  26037.0  Married       2.0     Yes
8    9.0    Male  28.0  26167.0  Married       1.0     Yes
9   10.0    Male  28.0  26363.6   Single       2.0      No
10  11.0    Male  28.0  26905.0   Single       0.0      No
11  12.0  Female  30.0  26195.0   Single       1.0     Yes
12  13.0    Male  30.0  26514.0  Married       4.0     Yes
13  14.0    Male  28.0  26969.0  Married       4.0     Yes
14  15.0  Female  28.0  26234.0  Married       0.0      No
15  16.0  Female  27.0  26229.0  Married       0.0      No
16  17.0    Male  26.0  25094.0  Married       0.0      No
17  18.0  Female  28.0  25917.0   Single       0.0     Yes
18  19.0  Female  28.0  26601.0  Married       1.0      No
19  20.0  Female  29.0  25427.0  Married       1.0      No

## Part 3

1. Gather data from any source
2. Preprocess the data the gathered data

In [ ]:
# import ssl
# ssl._create_default_https_context = ssl._create_unverified_context
# earthquake_data = pd.read_html('https://www.phivolcs.dost.gov.ph/index.php/earthquake/earthquake-information3')

## References 


[1] https://en.wikipedia.org/wiki/Listwise_deletion

[2] https://en.wikipedia.org/wiki/Imputation_(statistics)

[3] https://medium.com/@atanudan/kurtosis-skew-function-in-pandas-aa63d72e20de